.firstpart {
    background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/breadcrumb_bg.jpg);
  
    background-size: cover;
    padding-bottom: 160px;
  }
  .mylogo {
    width: 50px;
    height: 50px;
  }
  .mainmenu {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    padding: 25px 0;
    margin-left: 25px;
  }
  .singbtn {
    width: 170px;
    padding: 20px;
    line-height: 15px;
    color: #753ffa;
    font-size: 20px;
  }
  .searcebtn {
    border: none;
    background: none;
  }
  
  ul {
    list-style: none;
  }
  .menuitem {
    position: absolute;
    background: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.466);
    border-radius: 5px;
    z-index: 1;
    box-sizing: border-box;
    left: 0;
    top: 90px;
    width: 350px;
    transition-duration: 0.8s;
    visibility: hidden;
    opacity: 0;
  }
  .mainmenu:hover .menuitem {
    top: 70px;
    visibility: visible;
    opacity: 1;
  }
  .links {
    padding: 15px;
    color: black;
  }
  .discdiv {
    border-left: 5px solid white;
    padding-left: 15px;
    margin-top: 100px;
  }
  .discdivhead {
    font: size 40px;
    color: white;
  }
  .discdiv a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
    transition-duration: 0.5s;
  }
  .discdiv a:hover {
    color: #c0beff;
  }
  .partten {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .bordeone {
    margin-top: 50px;
     box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.021);
     transition: 0.5s;
   }
   .bordeone:hover {
     box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.052);
     cursor: pointer;
   }
   .imgpadd {
    width: 100%;
    padding: 0;
    margin-top: -50px;
    
  }
  .imgpadd img{width: 100%;
    vertical-align: top;
    border-style: none;}
  .imgten a {
    padding-left: 10px;
  }
  .imgten span {
    padding-left: 10px;
  }
  .disccontent {
    padding: 25px;
  }
  .ancorten {
    font-size: 20px;
    font-weight: 800;
    box-sizing: border-box;
  }
  .ancorh2ten {
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
  }
  .ancorh2ten:hover {
    text-decoration: none;
    color: #5d58f6;
  }
  .discten {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: #677294;
  }
  .imgten {
    display: flex;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  .emplink {
    padding-left: 5px;
    text-decoration: none;
    animation-duration: 0.3s;
    color: #ea660f;
  }
  .emplink:hover {
    text-decoration: none;
    color: #ea660f;
  }
  .empshare {
    color: #b4b9ca;
  }
  .empshare:hover {
    color: #ea660f;
  }
  .margbtn{margin: auto !important;}
  .btngroup{border: 1px solid #CDD1DC;
background-color: white;
padding: 15px 25px; 
font-weight: bold;
font-size: 20px;
transition-duration: 0.3s;}
.btngroup:hover{color: white;
background-color: #5D58F7;
border: 1ps solid #5D58F7;}
.inierserachbtn{position: absolute;
  right: 40px;
  top: 74%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 18px;
  color: #282835;
  padding: 0;
  cursor: pointer;}
.iniinput{border: 1px solid #c8c8c8;
  width: 100%;
  padding: 15px 25px;
  transition: .5s;}
.iniinput:focus{
outline: none !important  ;}
.ancordis{margin-top: 10px;}
.ancordis a{text-decoration: none;
color: black;
transition-duration: 0.3s;
}
.ancordis a:hover{color: #5D58F7;
text-decoration: none;}
span{display: inline-block;}
.firsth6{padding-top: 40px;
margin-bottom: 5px;
font-size: 18px;
font-weight: 700;}
.firstap a{text-decoration: none;
color: black;
font-size: 15px;
    font-weight: 700;
    line-height: 1.4;
  display: inline-block;
padding-top: 0;
transition: 0.3s;}
.firstap a:hover{color: #6A65F8;
text-decoration: none;}
.mainone{margin-top: 20px;}
.firstimg{cursor: pointer;}
.secondh6{margin-top: 40px;
  font-size: 18px;
  font-weight: 800;
margin-bottom: 20px;}
  .secondancor{color: black;
    text-decoration: none;
  transition: 0.3s;
padding-top: 10px;}
 .secondancor:hover{color:#6A65F8 ;
  text-decoration: none;}
  .listedlinks{display: inline;
  }
 .listedlinks a{margin-top: 10px;

border: 1px solid #CDD1DC;     
padding: 12px 15px;;
color: #282835;
font-weight: bold;
transition: 0.3s;}
.widget-tag{margin-left: -40px;}
.listedlinks a:hover{color: white;
background-color: #5D58F7;
border: 1px solid #5D58F7;}
.parteleven {padding-top: 100px;
  padding-bottom: 100px;
}
.seconditem {padding-left: 50px;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.5s;
}
.seconditem:hover {
  filter: grayscale(0%);}
  .footer {
      background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/footer_bg01.png);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 400px;
      padding-bottom: 20px;
    }
    .footer p {
      color: white;
    line-height: 28px;
      font-size: 16px;
    }
    .footer .mylogo {
      padding-bottom: 70px;
    }
    .footerlink {
      width: 20px;
      height: 20px;
      border: 1px solid white;
      border-radius: 50%;
      padding: 8px;
      margin-left: 8px;
      color: white;
    
      transition: 0.5s;
    }
    .faceicon{width: 30px;
    height: 25px;
    padding: 8px 10px;}
    .footerlink:hover {
      text-decoration: none;
      background: white;
      color: #020a66;
    }
    .footeropt{color: white;}
    .footeropt p a {text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;}
    .footeropt p{line-height: 20px;
    }
    .footeropt div{padding-top: 40px;}
    .footeropt p a:hover{text-decoration: none;
      padding-left: 5px;}
      .footersupport{font-size: 20px;
      font-weight: 500;
    }
    .footersupport p{line-height: 20px;}
    .footersupport h3{margin-top: 50px;}
    .footersupport a{border: 1px solid rgb(233, 230, 230);
    border-radius: 5px;
    padding: 5px;
    margin-left: 7px;
    text-decoration: none;
    font-size: 16px;}
    .Copyrightdiv{margin-top: 150px;
      padding-top: 20px;
    border-top: 1px solid #0c0420;}
    .Copyrightdiv a{text-decoration: none;
    font-weight: bold;
    color: white;}
    .privacya a{font-weight: normal;
    padding-left: 10px; }
    #scrollUp {
      background: #6C3CF0;
      height: 45px;
      width: 45px;
      right: 50px;
      bottom: 77px;
      color: #fff;
      font-size: 20px;
      text-align: center;
      border-radius: 50%;
      line-height: 45px;
      z-index: 9 !important;}
      html{scroll-behavior: smooth;}

 