body{overflow-x: hidden;}
.firstpart {
  background-image: url(http://pluginspoint.com/demo/html/digee/img/slider/slider_bg.png);

  background-size: cover;
}
.mylogo {
  width: 50px;
  height: 50px;
}
.mainmenu {
  display: inline-block;
  position: relative;
  color: #E3D7FE;
  font-size: 16px;
  font-weight: 700;
  font-family: "Muli", sans-serif;
  padding: 25px 0;
  margin-left: 25px;
}
.mainmenu a{color:#E3D7FE ;
  text-decoration: none;}
.singbtn {
  width: 170px;
  padding: 20px;
  line-height: 15px;
  color: #753ffa;
  font-size: 20px;
}
.searcebtn {
  border: none;
  background: none;
}

ul {
  list-style: none;
}
.menuitem {
  position: absolute;
  background: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.144);
  border-radius: 5px;
  z-index: 1;
  box-sizing: border-box;
  left: 0;
  top: 90px;
  width: 350px;
  transition-duration: 0.4s;
  visibility: hidden;
  opacity: 0;
}
.mainmenu:hover .menuitem {
  top: 70px;
  visibility: visible;
  opacity: 1;
}
.links{padding-top: 10px;
  padding-bottom: 10px;}
.links a{
  margin-left: -15px;
  padding: 5px;
color: #5d58f7;
font-size: 14px;
font-weight: 400;
transition-duration: 0.5s;
  
}
.links a:hover{margin-left: 5px;}
.discdiv {
  border-left: 5px solid white;
  padding-left: 15px;
  margin-top: 100px;
}
.discdivhead {
  font: size 40px;
  color: white;
}
.discdiv a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 18px;
  transition-duration: 0.5s;
}
.discdiv a:hover {
  color: #c0beff;
}

.headnav{border: 1px solid rgb(231, 230, 230);

z-index: 9;}
.headnavlinks{text-decoration: none !important;
color: white !important;
font-size: 15px !important;
font-weight: bold !important;
padding-left: 10px !important;}
.dropdownlistl{background-color: #7C54F3;}
.dropdownlistl a{text-decoration: none !important;
color: white;}
.dropdownlistl a:hover{text-decoration: none !important;
background-color: transparent;
color: white;}
@media screen and (min-width: 990px) {
nav {
    display: none !important;
}}
@media screen and (max-width: 990px) {
.headbar {
    display: none !important;
}
}
.posrel{position: relative;}
.poabs2{position: absolute;
background-color: #7C54F3;
z-index: 9;
top: 60px;}
.paddtop {
  padding-top: 120px;
  padding-bottom: 600px;
}
.fontp {
  font-size: 40px;
  line-height: 40px;
}
.fontp2 {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 25px;
}
.btnread {
  padding: 13px 20px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  transition-duration: 0.5s;
}
.btnread:hover {
  background: white;
  color: #7947F8;
}
.mainadress {
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
}
.mainadress:hover {
  text-decoration: none;
  color: rgb(233, 229, 229);
}
.secondimgmrg {
  margin-left: -300px;
}
.secondhead {
  font-weight: bold;
  font-size: 50px;
}
.secondpadd {
  padding-top: 100px;
  padding-bottom: 100px;
}
.secondbtn {
  background: white;
  color: black;
  border: 1px solid #5d58f7;
  border-radius: 5px;
  padding: 15px 20px;
transition-duration: 0.5s;
  font-weight: bold;
}
.secondbtn:hover {
  background: #5d58f7;
  color: white;
}
.secondp2 {
  color: #8884f9;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
}
.secondh2 {
  font-weight: bold;
  font-size: 40px;
}
.secondp3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  color: #677294;
}
.paddbt2 {
  text-align: center;
  padding-bottom: 100px;
}
.paddbt4 {
  padding-bottom: 250px;
}
.fifth {
  background-image: url(https://st4.depositphotos.com/3805597/23714/i/1600/depositphotos_237148472-stock-photo-mens-hands-holding-phone-and.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
.opabackground {
  width: 100%;
  height: 100%;
  background: rgba(78, 11, 167, 0.596);
}
.positiondiv {
  position: relative;
}
.positionimg {
  position: absolute;
  top: -80px;
  left: -80%;
}
.progresscount {
  font-size: 40px;
  color: white;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 30px;
  box-sizing: border-box;
}
.widecount {
  width: 60%;
}
.partsix {
  padding-top: 200px;
  padding-bottom: 200px;
}
.headsixpart {
  font-size: 40px;
}
.discsix {
  color: #000000;
  opacity: 0.9;
  width: 85%;
}
.btnsix {
  border: 1px solid #5d58f7;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  background: none;
  padding: 15px;
  margin-top: 30px;
  font-weight: bold;
  width: 35%;
  transition-duration: 0.3s;
}
.btnsix:hover {
  background: #5d58f7;
  color: white;
}
.headseven {
  font-weight: bold;
  font-size: 40px;
}
.discseven {
  opacity: 0.9;
}
.discbackseven {
  padding: 25px;
}
.imgdivseven {
  display: flex;
}
.partseven {
  padding-bottom: 200px;
}
.mainslider {
  padding-bottom: 400px;

  position: relative;
}
.slickslider {
 max-width: 20% !important;
  margin: auto;
  background-color: none;
  top: 70px;
  
  
}

.item {
  text-align: center;
  width: 70px;
}

.arrow-prev {
  position: absolute;
  top: 30%;
  left: 20%;
}
.arrow-prev button {
  font-size: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
}
.arrow-next {
  position: absolute;
  top: 30%;
  right: 20%;
}
.arrow-next button {
  font-size: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
}

.widslider {
  width: 65%;
  padding-top: 40px;
}
.contentwords {
  transform: translateY(50px);
}
.slidehead1 {
  color: #5d58f7;
  font-size: 22px;
  letter-spacing: 2px;
}
.slidehead2 {
  font-weight: bold;
}
.pragraphslide {
  opacity: 0.9;
  font-size: 22px;
}

.head2eight {
  visibility: visible;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 15px;
  font-style: normal;
  font-family: "Muli", sans-serif;
}
.eightp {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #677294;
}
.presentegdiv {
  background: white;
  height: 200px;
  margin-top: 30px;
  box-shadow: 2px 2px 2px 2px rgba(85, 83, 83, 0.082);
}
.eightpart {
  background: white;
  padding-bottom: 100px;
}



.mylogo {
  width: 50px;
  height: 50px;
}
.mainmenu {
  display: inline-block;
  position: relative;
  color: #E3D7FE;
  font-size: 16px;
  font-weight: 700;
  font-family: "Muli", sans-serif;
  padding: 25px 0;
  margin-left: 25px;
}
.mainmenu a{color:#E3D7FE ;
  text-decoration: none;}
.singbtn {
  width: 170px;
  padding: 20px;
  line-height: 15px;
  color: #753ffa;
  font-size: 20px;
}
.searcebtn {
  border: none;
  background: none;
}

ul {
  list-style: none;
}
.menuitem {
  position: absolute;
  background: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.144);
  border-radius: 5px;
  z-index: 1;
  box-sizing: border-box;
  left: 0;
  top: 90px;
  width: 350px;
  transition-duration: 0.4s;
  visibility: hidden;
  opacity: 0;
}
.mainmenu:hover .menuitem {
  top: 70px;
  visibility: visible;
  opacity: 1;
}
.links{padding-top: 10px;
  padding-bottom: 10px;}
.links a{
  margin-left: -15px;
  padding: 5px;
color: #5d58f7;
font-size: 14px;
font-weight: 400;
transition-duration: 0.5s;
  
}
.links a:hover{margin-left: 5px;}
.discdiv {
  border-left: 5px solid white;
  padding-left: 15px;
  margin-top: 100px;
}
.discdivhead {
  font: size 40px;
  color: white;
}
.discdiv a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 18px;
  transition-duration: 0.5s;
}
.discdiv a:hover {
  color: #c0beff;
}

.headnav{border: 1px solid rgb(231, 230, 230);

z-index: 9;}
.headnavlinks{text-decoration: none !important;
color: white !important;
font-size: 15px !important;
font-weight: bold !important;
padding-left: 10px !important;}
.dropdownlistl{background-color: #7C54F3;}
.dropdownlistl a{text-decoration: none !important;
color: white;}
.dropdownlistl a:hover{text-decoration: none !important;
background-color: transparent;
color: white;}
@media screen and (min-width: 990px) {
nav {
    display: none !important;
}}
@media screen and (max-width: 990px) {
.headbar {
    display: none !important;
}
}
.posrel{position: relative;}
.poabs2{position: absolute;
background-color: #7C54F3;
z-index: 9;


top: 60px;}


.ninepart {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient( 90deg, rgb(42,202,255) 0%, rgb(9,154,202) 100%);
}
.head2nine {
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 15px;
  font-style: normal;
  font-family: "Muli", sans-serif;
}
.discnine {
  font-size: 18px;
}
.tree1 {
  position: absolute;
  left: 100px;
  top: 70px;
  animation-duration: 3s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}
.tree2 {
  position: absolute;
  left: 250px;
  top: 90px;
  animation-duration: 4s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}
.tree3 {
  position: absolute;
  right: 200px;
  top: 70px;
  animation-duration: 3s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.btnnine {
  color: white;
  border: 1px solid white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: unset;
  line-height: 1;
  margin-bottom: 0;
  padding: 20px 30px;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.5s;
  background-color: transparent;
}
.btnnine:hover {
  background: white;
  color: #5d58f7;
}
.partten {
  padding-top: 50px;
  padding-bottom: 100px;
}
.firstpten {
  font-weight: bold;
  font-size: 22px;
  color: #625df7;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.headten {
  font-weight: 1000;
  font-size: 48px;
}
.secondpten {
  color: #677294;
  font-size: 16px;
}
.ancorten {
  font-size: 20px;
  font-weight: 800;
  box-sizing: border-box;
}
.discten {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #677294;
}
.disccontent {
  padding: 25px;
}
.ancorh2ten {
  text-decoration: none;
  color: black;
  transition-duration: 0.3s;
}
.ancorh2ten:hover {
  text-decoration: none;
  color: #5d58f6;
}

.imgten {
  display: flex;
  padding-bottom: 20px;
  padding-left: 25px;
}
.bordeone {
 margin-top: 50px;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.021);
  transition: 0.5s;
}
.bordeone:hover {
  box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.052);
  cursor: pointer;
}
.imgpadd {
  width: 100%;
  padding: 0;
  margin-top: -50px;
  
}
.imgpadd img{width: 100%;
  vertical-align: top;
  border-style: none;}
.imgten a {
  padding-left: 10px;
}
.imgten span {
  padding-left: 10px;
}
.emplink {
  padding-left: 5px;
  text-decoration: none;
  animation-duration: 0.3s;
  color: #ea660f;
}
.emplink:hover {
  text-decoration: none;
  color: #ea660f;
}
.empshare {
  color: #b4b9ca;
}
.empshare:hover {
  color: #ea660f;
}
.seconditem {padding-left: 50px;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.5s;
}
.seconditem:hover {
  filter: grayscale(0%);
}
.parteleven {padding-top: 100px;
  padding-bottom: 100px;
}


@media (max-width: 992px) {
  .secondimgmrg {
    
    margin:auto;
    
  }
}
@media (max-width: 992px) {
  .progresscount {
    top: -75px;
    left: 50%;
  }
}

.footer {
  background-image: url(http://pluginspoint.com/demo/html/digee/img/bg/footer_bg01.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 400px;
  padding-bottom: 20px;
}
.footer p {
  color: white;
line-height: 28px;
  font-size: 16px;
}
.footer .mylogo {
  padding-bottom: 70px;
}
.footerlink {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  margin-left: 8px;
  color: white;

  transition: 0.5s;
}
.faceicon{width: 30px;
height: 25px;
padding: 8px 10px;}
.footerlink:hover {
  text-decoration: none;
  background: white;
  color: #020a66;
}
.footeropt{color: white;}
.footeropt p a {text-decoration: none;
color: white;
font-weight: bold;
transition: 0.5s;}
.footeropt p{line-height: 20px;
}
.footeropt div{padding-top: 40px;}
.footeropt p a:hover{text-decoration: none;
  padding-left: 5px;}
  .footersupport{font-size: 20px;
  font-weight: 500;
}
.footersupport p{line-height: 20px;}
.footersupport h3{margin-top: 50px;}
.footersupport a{border: 1px solid rgb(233, 230, 230);
border-radius: 5px;
padding: 5px;
margin-left: 7px;
text-decoration: none;
font-size: 16px;}
.Copyrightdiv{margin-top: 150px;
  padding-top: 20px;
border-top: 1px solid #0c0420;}
.Copyrightdiv a{text-decoration: none;
font-weight: bold;
color: white;}
.privacya a{font-weight: normal;
padding-left: 10px; }
.movinleft{text-align: right;}
@media (max-width:1024px){.movinleft{text-align: left;}}
.par7new{color: #42424E;}
#scrollUp {
  background: #6C3CF0;
  height: 45px;
  width: 45px;
  right: 50px;
  bottom: 77px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 45px;
  z-index: 9 !important;}
  html{scroll-behavior: smooth;}